{% extends 'base.html.twig' %}

{% block body %}
<div class="panel panel-default">
  <div class="panel-heading"><h4>Custaddresses lis</h4></div>
   <div class="panel-body">

   

    <table class="table">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Address</th>
               
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for custaddress in custaddresses %}
            <tr>
                <td>{{ custaddress.customercode.name }}</td>
                <td>{{ custaddress.addressnumber.detail }}</td>
                  
                <td>

                
                <a href="{{ path('custaddress_show', { 'addressnumber': custaddress.addressnumber.addressnumber }) }}" class = "btn btn-danger">Delete</a>
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </table>
      </div><!-- .Panel Content -->
      </div>
  <div class="panel-footer">Copyright 2017 Prinfor</div>
</div>
    
{% endblock %}
