{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">Custaddresses list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Address</th>
               
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for custaddress in custaddresses %}
            <tr>
                <td>{{ custaddress.customercode.name }}</td>
                <td>{{ custaddress.addressnumber.detail }}</td>
                  
                <td>

                
                <a href="{{ path('custaddress_show', { 'addressnumber': custaddress.addressnumber.addressnumber }) }}" class = "btn btn-danger">Delete</a>
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
