{% extends 'base.html.twig' %}

{% block body %}
<div class="panel panel-default">
  <div class="panel-heading"><h4>Custaddress creation</h4></div>
   <div class="panel-body">
    <h1 class="page-header">Custaddresses list</h1>
   <a href="{{ path('custaddress_index') }}" class="btn btn-default" style="margin-bottom:15px">Back to the list</a>
   <form  method="get">
    <table class="table">
    <thead>
        <tr>
                <th>
                
                </th>
                <th>
                    <input class="btn btn-primary" type="submit" value="Add address" >

                </th>
                </tr>
        <thead>
            <tr>
                <th>Address</th>
                <th>Check Add</th>
               
            </tr>
        </thead>
        <tbody>
        
            <tr>
                
                <td>{{ custaddresses.detail }}</td>
                  <td><input type="checkbox" id="form_role_1" name="checkbox" class="checkbox" value="{{custaddresses.addressnumber}}" /></td>
             
            </tr>
      
        </tbody>
 
     </table>
    </form>
          </div><!-- .Panel Content -->
      </div>
  <div class="panel-footer">Copyright 2017 Prinfor</div>
</div>    
{% endblock %}
