{% extends 'base.html.twig' %}

{% block body %}
<form>
	<input type="text" name="Quantity">
	<input type="text" name="Priceunit">
	<input type="text" name="Price">
	<input type="text" name="Stkunitconv">
	<input type="text" name="Status">
	<input type="text" name="Person">
</form>    
{% endblock %}
