{% extends 'base.html.twig' %}

{% block body %}
   <a href="{{ path('customer_index') }}" class="btn btn-default">Back to the list</a>
    <h1 class="page-header">Customer edit</h1>

    {{ form_start(edit_form) }}
    	<label for="customercode">Customer Code</label>
    	<input type="text" value="{{customer.customercode}}" class="form-control" style="margin-bottom:15px" disabled/>
        {{ form_widget(edit_form) }}
        

        <input type="submit" value="Edit" class="btn btn-primary" style="margin-bottom:15px"/>
    
  
{% endblock %}
