{% extends 'base.html.twig' %}

{% block body %}
<div class="panel panel-default">
  <div class="panel-heading"><h4>Customer edit</h4></div>
   <div class="panel-body">

   <a href="{{ path('customer_index') }}" class="btn btn-default" style="margin-bottom:15px">Back to the list</a>
   

    {{ form_start(edit_form) }}
    	<label for="customercode">Customer Code</label>
    	<input type="text" value="{{customer.customercode}}" class="form-control" style="margin-bottom:15px" disabled/>
        {{ form_widget(edit_form) }}
        

        <input type="submit" value="Edit" class="btn btn-primary" style="margin-bottom:15px"/>
    
        </div><!-- .Panel Content -->
      </div>
  <div class="panel-footer">Copyright 2017 Prinfor</div>
</div>
{% endblock %}
